.nav
  padding 0 0.5em

  .link
    background-color rebeccapurple
    padding 0.25em 0.5em
    display inline-flex
    flex-direction row
    justify-content center
    align-items center
    color white
    text-decoration none

    & + .link
      margin-left 0.5em


    &.__active
      background-color red


