.BetItem
  background-color #333
  margin 0.5em
  display flex
  flex-direction column
  text-align center
  cursor pointer

  &:hover
    background-color #444

  .image
    size 6em

  .price
    background-color green
    color gold

  .market_hash_name
    background-color yellowgreen

  .phase
    background-color rebeccapurple











