.BetsPanel
  background-color greenyellow
  display flex
  justify-content center
  flex-direction column
  align-items center
  height 12em

  .video
    size 20em
    padding 1em
    background-color rebeccapurple
    backdrop-filter blur(2em)

  .betItems
    display flex
    flex-direction row



