.MarketInventarPanel
  display flex
  flex-direction row
  flex-shrink 0
  justify-content center
  align-items center
  text-align center
  box-shadow 0 0 0.5em black
  height 3em
  background-color #333

  .title
    padding 0.25em





