.notification
  background-color blue
  position relative
  display flex
  flex-direction row
  transition opacity 0.2s
  cursor pointer
  opacity 0.8

  &:hover
    opacity 1

  &.__error
    background-color #ff541b

  &.__alert
    background-color #1a7bff
    color white

  .message
    padding 1em
    //background-color orangered
    //flex-grow 1
    display flex
    flex-direction row
    align-items center
    justify-content center


