.SocialNetworks
  padding 0.5em 1em
  margin-top 1em
  text-align center

  .title
    color #8F95C4
    text-transform uppercase
    font-size 0.8em

  .networks
    display flex
    flex-direction row
    padding 0.5em 0
    justify-content center




