.button
  display inline-flex
  padding 0.2em 1em
  margin 0.5em
  user-select none
  cursor pointer
  color white
  border 1px solid yellowgreen
  border-radius 0.5em
  justify-content center
  align-items center

  & + &
    margin-left 0.5em

  &:hover
    background-color rgba(yellowgreen, 0.3)
    box-shadow 0 0 1em rgba(yellowgreen, 0.4)


