.Item
  display inline-block
  width calc((100% - 1.5em)/3)
  margin 0.25em
  padding 0.25em
  border-radius 0.25em
  cursor pointer
  text-align center

  &:hover
    background-color #333

  .content
    display flex
    flex-direction column

    .image
      size 5.5em

    .market_hash_name
      font-size 0.6em
      color #666

    .price
      color gold


