.Popup
  $time = 0.3s
  absolute top left
  size 100%
  z-index 1000
  display flex
  flex-direction column
  justify-content center
  align-items center
  background-color rgba(black, 0)
  transition background-color $time
  pointer-events none
  user-select none

  &.__opened
    background-color rgba(black, 0.8)
    pointer-events all
    user-select inherit


