.progress-bar
  background-color rgba(#4E6FD9, 0.3)
  position relative
  height 0.4em
  width 100%
  overflow hidden
  border-radius 0.2em

  .plain
    background-color #4E6FD9
    height 100%
    absolute top left



