.MobileChatHeader
  height 4em
  display flex
  flex-direction row
  align-items center

  .onlineUsers
    display flex
    flex-direction row
    margin-left 1.5em

    .onlineUsersIcon
      size 1.5em
      background-image url("~res/images/online-users.svg")
      background-size contain
      background-repeat no-repeat
      background-position center

    .onlineUsersCount
      color #747AAA





