::-webkit-scrollbar {
  width 1em
}

::-webkit-scrollbar-track-piece {
  background-color rgba(30, 35, 62, 0.5)
  background-clip: content-box;
  border: 0.35em solid transparent;
  border-radius: 1em;
}

::-webkit-scrollbar-thumb {
  background-color #5A6098
  border: 0.35em solid transparent;
  border-radius: 1em;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  border-width 0.25em
}
