.home-page
  flex-grow 1
  display flex
  flex-direction row
  height 0

  .leftColumn
    width 21em
    flex-shrink 0
    display flex
    flex-direction column

  .middleColumn
    background-color red
    flex-grow 1
    display flex
    flex-direction column





