.inventar
  background-color blue
  flex-grow 1
  display flex
  flex-direction column

  .panel
    background-color red
    //display flex
    //flex-direction column

  .skins
    background-color blueviolet
    overflow auto
    flex-grow 1
    height 0



