.InventarItem
  display inline-flex
  width 6em
  margin 0.25em
  flex-direction column
  border-radius 0.5em
  padding 0.25em
  cursor pointer
  text-align center

  &:hover
    background-color #333

  .image
    size 5.5em

  .market_hash_name
    font-size 0.6em
    color #666

  .price
    color gold


