.Inventar
  $time = 0.3s
  flex-grow 1
  display flex
  flex-direction column
  transition opacity $time
  background-color #222

  &.__hide
    opacity 0

  .emptyMessage
    flex-grow 1
    display flex
    flex-direction column
    justify-content center
    align-items center
    color white




