.MarketSkin
  margin 0.25em
  cursor pointer
  text-align center
  max-width 8.5em
  display inline-flex
  flex-direction column
  justify-content flex-end
  border-radius 0.5em
  padding 0.5em

  &:hover
    background-color #333

  &.__selected
    background-color #444

  .image
    size 7.5em
    height 6em
    object-fit cover

  .marketHashName
    font-size 0.8em

  .price
    color gold


















