.MarketAdminControls
  display flex
  flex-direction row
  justify-content center
  font-size 0.8em
  absolute top right
  height 100%

  .progressBar
    absolute bottom left
    height 0.2em

  .completed
    display flex
    flex-direction row
    align-items center
    padding 0.5em
    //font-family monospace
    //font-size 1.5em




