.MarketShopItem
  cursor pointer
  display inline-flex
  flex-direction column
  margin 0.25em
  width 7em
  text-align center
  align-items center
  padding 0.25em
  background-color #333
  border-radius 0.25em

  &:hover
    background-color #444

  .image
    size 5em
    padding 0.25em

  .price
    color gold

  .market_hash_name
    font-size 0.6em

  .phase
    background-color rebeccapurple
    padding 0.1em 0.25em
    margin-top 0.2em


