.skins-panel
  display flex
  color white
  flex-direction column

  .controls
    display flex
    flex-direction row
    align-items center
    //justify-content space-around

    .loading-state
      margin-left 1em

    .images-loading-state
      margin-left 1em






