.skins-panel
  background-color red
  display flex
  flex-direction column

  .loading-state
    background-color blue

  .controls
    display flex
    flex-direction row
    align-items center






