.MobileRoundPlaying
  display flex
  flex-direction column
  justify-content center
  align-items center
  position relative

  .bg
    absolute top left
    size 100%

  .x
    font-size 2.5em
    font-weight 900
    font-family monospace
    z-index 1

